<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>Engiciclo</title>
        <meta name="author" content="Joao Trindade">
        <link rel=styleSheet href="/media2/css/style.css" type="text/css" media=screen>
    </head>


    <body id="{% block body_id %}{% endblock %}">

        <div id="page">
            <div id="header">
                <div id="logo">
                    <img alt="Engiciclo Logo" src="/media2/images/logo_efeito.png"/>
                </div>

                <h1><a href="/">Engiciclo</a></h1>

                <div class="description">Apanhando o seu lixo</div>
            </div>

            <div id="mainarea">
                <div id="contentarea">
                    <div id="body">
                        {% block body %}
                        <div>
                            <h2>{% block content_title %}{% endblock %}</h2>
                            <br><br>
                        </div>
                        <div class="content">
                            {% block content %}{% endblock %}
                        </div>
                        {% endblock %}
                    </div>
                </div>
            </div>

            <div id="sidebar">
                <div id="sidebarnav">
                    <a class="active" href="/"><span>Principal</span></a>
                    <a href="/empresas/"><span>Empresas</span></a>
                    <a href="/admin/"><span>Backoffice</span></a>
                </div>
            </div>

            <div id="footer">
                <!-- Designed by <a href="http://www.free-css-templates.com/">Free CSS Templates</a>, Thanks to <a href="http://www.dubaiapartments.biz/">Dubai Villas</a>-->
            </div>
        </div>
    </body>
</html>
